---
title: "企业认证 | Cloud"
slug: /enterprise-verification
sidebar_label: "企业认证"
beta: FALSE
added_since: FALSE
last_modified: FALSE
deprecate_since: FALSE
notebook: FALSE
description: "Zilliz Cloud 现已开通企业认证渠道。如需进行现金充值，您需要先通过企业认证。本章主要介绍如何在 Zilliz Cloud 界面上申请企业认证。 | Cloud"
type: origin
token: VRLOw9Mc7iPWnCkZs2YcoGwSnLh
sidebar_position: 1
displayed_sidebar: default

---

import Admonition from '@theme/Admonition';


import Procedures from '@site/src/components/Procedures';

# 企业认证

Zilliz Cloud 现已开通企业认证渠道。如需进行[现金充值](./cash-recharge)，您需要先通过企业认证。本章主要介绍如何在 Zilliz Cloud 界面上申请企业认证。

## 操作步骤\{#procedures}

<Procedures>

1. 选择组织并点击左侧导航栏中的**系统设置**。

1. 在**企业认证**部分，点击**立即认证**。

    ![enterprise-verification-cn](https://zdoc-images.oss-cn-hangzhou.aliyuncs.com/enterprise-verification-cn.png "enterprise-verification-cn")

1. 填写**申请企业认证**表单并点击**提交申请**。相关参数请见下表。请确保提供正确信息。

    | **参数** | **描述** |
    | --- | --- |
    | **企业名称** | 需要进行认证的企业名称。 |
    | **统一社会信用代码** | 统一社会信用代码由 18 位数字或大写字母组成。 |
    | **营业执照** | 图片格式为 .jpg 或 .png 文件且大小不得超过 5 MB。 |
    | **法人姓名** | 企业法人的姓名。请确保与营业执照上的法定代表人姓名一致。 |
    | **法人身份证照片** | 法人身份证正反面照片。图片格式为 .jpg 或 .png 文件且大小不得超过 5 MB。 |
    | **注册地址** | 企业注册地址。 |
    | **注册电话** | 企业注册电话。 |

1. 阅读**信息确认**弹窗中的内容，点击**我已阅读并同意**。

1. 收到您的企业认证申请后，我们将在 1～3 个工作日内完成审核，请您耐心等待。认证结果将以邮件形式发送至您的邮箱，请注意查收。

1. 企业认证成功后，您可以在组织**系统设置**的**企业认证**部分查看企业信息。

</Procedures>

![enterprise-verified-cn](https://zdoc-images.oss-cn-hangzhou.aliyuncs.com/enterprise-verified-cn.png "enterprise-verified-cn")

如果您在线下与我们签订了合同，请直接联系销售完成企业认证。

## 相关文档\{#related-topics}

- [现金充值](./cash-recharge)

