:root {
  --doc-sidebar-width: 32.5rem;
  --doc-sidebar-hidden-width: 52px;
}

@media (min-width: 997px) and (max-width: 1280px) {
  :root {
    --doc-sidebar-width: 23rem;
  }
}

@media (min-width: 1281px) and (max-width: 1440px) {
  :global(.docs-chat-open) {
    --doc-sidebar-width: 23rem;
  }
}

/* Hide on mobile, the sidebar is in the mobile hamburger menu */
.docSidebarContainer {
  display: none;
}

@media (min-width: 997px) {
  .docSidebarContainer {
    display: flex;
    flex-direction: column;
    width: var(--doc-sidebar-width);
    flex-shrink: 0;
    min-height: 0;
    position: relative;
    background: #ffffff;
    overflow: visible;
  }

  .docSidebarContainerHidden {
    width: var(--doc-sidebar-hidden-width);
    cursor: pointer;
  }

  .sidebarViewport {
    display: flex;
    flex-direction: column;
    position: static;
    width: var(--doc-sidebar-width);
    height: 100%;
    z-index: 10;
    background: #fff;
    border-right: 1px solid var(--ifm-toc-border-color);
    min-height: 0;
    overflow: hidden;
  }

  .sidebarViewportHidden {
    width: 100%;
    border-right: 1px solid var(--ifm-toc-border-color);
    overflow: visible;
  }
}
