/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #175fff;
  --ifm-color-primary-dark: #004efa;
  --ifm-color-primary-darker: #0049ec;
  --ifm-color-primary-darkest: #003cc3;
  --ifm-color-primary-light: #3372ff;
  --ifm-color-primary-lighter: #417cff;
  --ifm-color-primary-lightest: #6a99ff;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #c84cff;
  --ifm-color-primary-dark: #be2bff;
  --ifm-color-primary-darker: #b91aff;
  --ifm-color-primary-darkest: #a700f2;
  --ifm-color-primary-light: #d26dff;
  --ifm-color-primary-lighter: #d77eff;
  --ifm-color-primary-lightest: #e7afff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.navbar__item > svg {
  display: none;
}

.dropdown__link > svg {
  display: none;
}

.footer__link-item svg {
  display: none;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

article > section {
  flex-direction: column;
  gap: 2rem;
  border-right: 1px solid #eaecef;
}

article > section > article.col {
  margin-bottom: 0 !important;
  min-width: 80% !important;
  flex-grow: 2;
}

article > section a.card {
  border: none;
  box-shadow: none;
  padding: 0 !important;
  gap: 0.5rem;
}

article > section a.card:hover {
  box-shadow: none;
  border: none;
  border-radius: 0;
}

article > section a.card:hover > h2 {
  color: #3372ff;
}

article > section a.card > h2 {
  margin-bottom: 0;
  border-radius: none;
}

article > section a.card > p {
  overflow: visible;
  white-space: normal;
  font-size: 1rem;
  margin-left: 2rem;
  font-weight: 400;
}