/*
When the navbar is sticky, ensure that on anchor click,
the browser does not scroll that anchor behind the navbar
See https://twitter.com/JoshWComeau/status/1332015868725891076
 */
 .anchorWithStickyNavbar {
  scroll-margin-top: calc(var(--ifm-navbar-height) + 0.5rem);
}

.anchorWithHideOnScrollNavbar {
  scroll-margin-top: 0.5rem;
}

:global(.hash-link) {
  opacity: 0;
  padding-left: 0.5rem;
  transition: opacity var(--ifm-transition-fast);
  user-select: none;
}

:global(.hash-link::before) {
  content: '#';
}

:global(.hash-link:focus),
:global(*:hover > .hash-link) {
  opacity: 1;
}

.vendor {
  display: inline-block;
}

@media (max-width: 1065px) {

  .vendor {
    display: none;
  }

}

.banner {
  padding: 10px; /* Adjust padding as needed */
  text-align: center; /* Center the text */
  position: relative; /* For positioning the close button */
  /* Add other styling as desired (e.g., font, border) */
  transition: opacity 0.3s ease; /* Add a smooth transition for closing */
  border-radius: 5px; /* Add rounded corners */
  margin-bottom: 10px; /* Add margin between banners */
}

.banner-content {
  display: flex;
  align-items: center; /* Vertically align content */
  justify-content: center; /* Horizontally align content */
}

.banner-close-button {
  background: none;
  border: none;
  font-size: 20px;
  margin-left: 10px; /* Space between message and button */
  cursor: pointer;
  padding: 0; /* Remove default button padding */
  line-height: 1; /* Adjust line height for better vertical alignment */
}

/* Optional: Add hover effect to the close button */
.banner-close-button:hover {
  opacity: 0.7;
}